* {
  font-family: "Engine";
  overflow-x: hidden;
}

body {
  background-color: #820000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2370071c' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%235f0d37' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%234d1453' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%233c1a6e' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%232A218A' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* background by SVGBackgrounds.com */
}

.background-container {
  display: flex;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.gray-theme {
  background-color: #262626;
}

@keyframes animatedBackgroundWheel {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes animatedBackgroundDoor {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% -100%;
  }
}

#animate-area {
  width: 200px;
  height: 200px;
  background-image: url(http://placekitten.com/400/200);
  background-position: 0px 0px;
  background-repeat: repeat-x;
}

.wheel {
  background-color: #147cb8;
  transition-property: all;
  transition-duration: 0.3s;
  z-index: 11;
  border-right: #262626 12px solid;
}

.wheel {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: url("./img/wheel.svg");
  background-size: 100px 100px; /* size of the image*/
  background-color: #147cb8;
  background-position: 0px 0px;
  animation: animatedBackgroundWheel 60s linear infinite;
}

.door {
  background-color: #bd0000;
  transition-property: all;
  transition-duration: 0.3s;
  flex-grow: 1;
}

.door {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./img/door.svg");
  background-size: 100px 100px; /* size of the image*/
  background-color: #bd0000;
  background-position: 0px 0px;
  animation: animatedBackgroundDoor 60s linear infinite;
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50vh;
  margin-left: auto;
  margin-right: auto;
  width: 100px; /* Need a specific value to work */
  z-index: 100;
}

.card-wrapper {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

.card {
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 4rem 3rem;
}

#information {
  position: fixed;
  right: 12px;
  top: 12px;
  z-index: 100;
}

#bottomBar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #262626;
  z-index: 100;
}

@font-face {
  font-family: "Engine";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("./font/engine.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url("./font/engine.woff")
      format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
