.background-container {
  display: flex;
  height: 100vh;
}
.spikes {
  position: absolute;
  width: 10%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.spikes::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  background-position: 0 0;
  transform: rotate(90deg);
  left: -120%;
  z-index: 0;
  background-size: 30px 90%;
  background-image: linear-gradient(150deg, transparent 25%, #bd0000 25%),
    linear-gradient(210deg, transparent 30%, black 60%);
  right: 0px;
  /* animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

@keyframes example {
  0% {
    background-size: 28px 90%;
  }
  25% {
    background-size: 28px 90%;
  }
  50% {
    background-size: 28px 85%;
  }
  75% {
    background-size: 28px 80%;
  }
  100% {
    background-size: 28px 85%;
  }
}

.wheel {
  background-color: #bd0000;
  transition-property: all;
  transition-duration: 2s;
}

.door {
  background-color: #147cb8;
  flex-grow: 1;
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50vh;
  margin-left: auto;
  margin-right: auto;
  width: 100px; /* Need a specific value to work */
  z-index: 100;
}

.card-wrapper {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.86);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 4rem 3rem;
}
