.hero-text {
  position: absolute;
  top: 165px;
}

.hero-text h1 {
  font-size: 130px;
  line-height: 90%;
  text-align: center;
  margin: 36px;
  overflow: hidden;
  transform: rotate(-2.5deg);
}

@media screen and (max-width: 1024px) {
  .hero-text h1 {
    font-size: 110px;
  }
  .hero-text h2 {
    font-size: 100px;
  }
}

@media screen and (max-width: 768px) {
  .hero-text h1 {
    font-size: 85px;
  }
}

@media screen and (max-width: 640px) {
  .hero-text h1 {
    font-size: 70px;
  }
}

#progressBar {
  height: 10px;
  position: fixed;
  z-index: 2;
  background: #147cb8;
  overflow: hidden;
  animation: progressBar 8s ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
}

@keyframes progressBar {
  0% {
    left: 0;
    width: 0;
  }
  90% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
